.navbar{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.navbar  ul{
 margin: 0;
 padding: 0;

}
.navbar ul li{
    display: inline-block;
    
    list-style: none;
}
.navbar ul li a{
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #565673;
    text-transform: capitalize;
}
.navbar ul li a:hover{
    color: #5f9ea0;
}
.search form{
 display:flex;
 margin: 0 10px;
}
.searchinput{
    border: 0;
    width: 0;
    transition: width 0.5s ease-in;
}
.searchinput.active{
    width: 150px;
}
.searchinput:focus{
    outline: none;
   
}
.searchicon{
    cursor: pointer;
}